#header-inner {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 hsl(210, 60%, 32%);
    border-bottom: 1px solid hsl(216, 29%, 25%);
    color: hsl(0, 0%, 100%);
    padding: 20px 10px;
    clear: both;
    float: left;
    width: 100%;
    clear: inherit;
    float: inherit;
}
#header-outer {
    background-color: #F5F5F5;
    height: 30%;
    width: 100%;
}

#wrapper {
    height: auto;
    margin-bottom: -100px;
    min-height: 100%;
}

.workflow-box {
    background: none repeat scroll 0 0 hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px 5px 5px 5px;
    padding: 30px;
}
